<template name="footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">We should put some cliche stuff here.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Maybe links to our other projects? or other toilets, is that how you spell toilets?</h5>
          <ul>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 Ryan Seery, Avani, KDing
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</template>
