<template name="imageModal">
    <div id="imageModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            {{> comments}}
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="card">
                        <div class="card-content">
                            <h5>Comments</h5>
                            <p>Paid or Free: Free</p>
                            <p>Times Open: 8:00 a.m. to 10:00 p.m.</p>
                            <p>Public or Business: Business</p>
                            <p>Comments:</p>
                            <p>Plenty of clean bathrooms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
