<!-- <template name="mapView">
  <div class="map-wrapper aligner">
    <div class="map-container">
      {{> googleMap name="map" options=mapOptions}}
    </div>
    <div class="map-loader aligner-item">
      {{> loading}}
    </div>
  </div>
  {{> mapForm}}
  {{> imageModal}}
  <p class="address">{{address}}</p>
</template> -->
<template name="mapView">
  <div class="map-wrapper aligner">
    <div class="map-container">
    {{> googleMap name="map" options=mapOptions}}
    </div>
    <div class="card" id="add">
    <div class="card-content">
     <span class="card-title">Current Location:</span>
     <p>{{address}}</p>
     </div>
     <div class="card-action">
     {{> mapForm}}
     </div>
     </div>
     <img src="./bg.png">
    <div class="map-loader aligner-item">
      {{> loading}}
    </div>
  </div>
  
  {{> imageModal}}
</template>
